fastapi
uvicorn[standard]
python-multipart
pydantic
pydantic-settings
supabase==2.4.0
python-jose[cryptography]
passlib[bcrypt]
pymupdf
pytesseract
pillow
opencv-python-headless
google-generativeai
python-dateutil
python-dotenv
httpx==0.25.2
